@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
/* Disable preflight such that it doesn't break webawesome */
@import "tailwindcss/utilities.css" layer(utilities);

a {
  color: var(--wa-color-brand-50);
  text-decoration: underline;
}

/* Make Tailwind's `dark:` variant class-based instead of media-based */
@custom-variant dark (&:where(.dark &, [wa-theme="dark"] &));

@view-transition {
  navigation: auto;
}

.animatedAppear {
  opacity: 0;
  animation: fadeInUp 0.4s ease forwards;
  animation-delay: calc(var(--i, 0) * 0.08s);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* This prevents FOUC (Flash of Unstyled Content) caused by webawesome web components */
:not(:defined) {
  display: none;
}
